@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>This site provides information about the printers owned by Stockton University.</p>

<p>For more information, call Computer Services x4309</p>