@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<p> Having issues with the Website? Email Me!</p>

<address>
    <strong>Tom Leung</strong>   <a href="mailto:Support@example.com">leungt@go.stockton.edu</a><br />

</address>